<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Copy bookmarklet from instapaper.com/extras</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>bookmarklet</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Bookmarklet</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
